@import 'config';
@import 'utilities';
@import 'buttons';

//the guilds

  #azorius{
      background-image: url("/background/azorius.jpg");
      background-repeat: no-repeat;
      background-size: cover;
     
  }

  #selyesna{
      background-image: url("/background/sel.jpg");
      background-repeat: no-repeat;
      background-size: cover;

  }
  
  #boros {
    background-image: url("/background/boros.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}
#orhzov{
    background-image: url("/background/orhzov.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}
#dimir{
    background-image: url("/background/dimir.webp");
    background-repeat: no-repeat;
    background-size: cover;

}
#izzet{
    background-image: url("/background/izzet.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}
#rakdos{
    background-image: url("/background/rakdos.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}
#simic{
    background-image: url("/background/simic.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}
#golgari{
    background-image: url("/background/golgari.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}
#gruul{
    background-image: url("/background/gruul.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}


.card {
    border-radius:0;
    margin:10px auto;
}
.card-title {
	text-transform: uppercase;
    color: #E44424;
    text-align: center;
    font-size: large;
    font-family: $font-stack;


}

.card-text {
	margin-top:10px;
	margin-bottom: 10px;
	background-color:#FFFFFF;
    color:#000000;
    font-family: $font-stack;
}
a.btn, a.btn:visited {
    color: white;
}
hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

